html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.overlay{
    position: absolute;
    top:  100;
    padding:  2em;
}
h1 {color: yellow}
a,a:visited {color: red;}
.para1 {
  text-align: right;
  color: red;
  padding:  2em;

}
.para3{
  text-align: center;
  color: greenyellow;
  padding: 2em;
  
}